/* Put your css in here */

div{
  float:left;
}

div {
  
}
.canvas{
  margin: 0;
  padding: 0;
  width: 720px;
  height: 1080px;
}

.element{
 width: 72px;
 height: 72px;
 position: relative;
 margin: 0;
 padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
 overflow: visible;
 display: table-row-group;

 /*border: 1px solid black;*/
}

.wall{
  background-color: #055 ;
 }

 .section{
  height: 24px;
  width: 24px;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
 }

.empty{
   background-image: url(tileable_bricks_single.jpg);
  -webkit-background-size: 110%;
  background-size: 110%;
}

.gladiator {
  background: url('/sprites/gladiator-sprite.png');
  height: 120px;  
  width: 120px;
  top: -24px;
  left: -24px;
  position: absolute;
  z-index: 1;  
}
.gladiator-steady{
  background-position: -120px -240px;
}

.gladiator-walk-left{
  -webkit-animation: walkleft 0.4s steps(4,end) infinite;
}

@-webkit-keyframes walkleft {
   to { background-position: 0px 0px; }
   from { background-position: -480px 0px; }
}
.gladiator-walk-right{
  -webkit-animation: walkright 0.4s steps(4,end) infinite;
}

@-webkit-keyframes walkright {
   to { background-position: 0px -120px; }
   from { background-position: -480px -120px; }
}
.gladiator-walk-down{
  -webkit-animation: walkdown 0.4s steps(4,end) infinite;
}

@-webkit-keyframes walkdown {
   to { background-position: 0px -240px; }
   from { background-position: -480px -240px; }
}
.gladiator-walk-up{
  -webkit-animation: walkup 0.4s steps(4,end) infinite;
}

@-webkit-keyframes walkup {
   to { background-position: 0px -360px; }
   from { background-position: -480px -360px; }
}

.monster {
    background: purple;
    width: 70px;
    height: 90px;
    position: relative;
    text-align: center;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin: auto;
}
.monster:after,.monster:before{
  content: "";
  top: 66px;
  position: absolute;
  border-right: 23px solid transparent;
  border-left: 23px solid transparent;
  border-bottom: 32px solid white;
}
.monster:after {
    left: -5px;
}

.monster:before {
    left: 30px;
  }

.monster-eye {
  background-color: #00f;
  border: 6px solid white;
  position: absolute;
  top: 20px;
  left: 27px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
}
.monster-eye:after {
  content:"";
  background-color: #00f;
  border: 6px solid white;
  position: absolute;
  top: -6px;
  left: 18px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
   -webkit-box-sizing: border-box;
}
